{% extends "movie/base.html" %}
{% load static %}
{% block content %}


    {% block css %}<link rel="stylesheet" href="{% static 'src/css/profileFilmsCards.css' %}">{% endblock %}

    <div class="main-container-profile">
    <div class="container-profile">
        <h1 style="text-align: center; padding-bottom: 20px; color: #ffffff;">{{ user_profile.user.username }}</h1>
        <div class="profile-info">
            <img src="{{ user_profile.avatar.url }}" alt="Аватар" class="avatar">
            <input type="file" id="avatar-upload" accept="image/*">
            <label for="avatar-upload">Изменить аватар</label>
            <h4 style="padding-top: 10px; padding-bottom: 10px; color: #ffffff;">Изменить имя</h4>
            <input type="text" id="username" placeholder="Имя пользователя">
        </div>

        {% if user_profile.favorite_movies.all %}
            <h2>Избранные фильмы</h2>
            <div class="favorites">
                <div class="wrapper owl-carousel carousel-nav-center" id="favorites-films">
                    {% for item in movie %}
                        {% if item in user_profile.favorite_movies.all %}
                    <div class="card">
                    <div class="poster"><img src="{{ item.poster }}" alt="Location Unknown"></div>
                    <div class="details">
                        <a href="{% url 'info_film_page' item.id %}" class="title_movie"><h1>{{ item.title }}</h1></a>
                        <h2>{{ item.release_year }} • {{ item.age_rating }} • {{ item.duration }}</h2>
                        <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <span>{{ item.rating }}/10</span>
                        </div>
                        <div class="tags">
                        <span class="tag">{{ item.genre }}</span>
                        </div>
                        <p class="desc">
                            {{ item.description|slice:":100" }}
                        </p>
                        <div class="cast">
                        <h3>Актеры</h3>
                        <ul>
                            {% for actor in item.actors.all|slice:":5" %}
                                    <a href="{% url 'actor_page' actor.id %}"><li><img src="{{ actor.photo }}" alt="{{ actor.name }}" title="{{ actor.name }}"></li></a>
                            {% endfor %}
                        </ul>
                        </div>
                    </div>
                    </div>
                    {% endif %}
                    {% endfor %}

                </div>

            </div>
        {% else %}
            <h2>Нет избранных фильмов</h2>
        {% endif %}

        {% if user_profile.purchased_movies.all %}
                <h2>Купленные фильмы</h2>
                <div class="purchased">
                    <div class="wrapper owl-carousel carousel-nav-center" id="buys-films">

                    {% for item in movie %}
                        {% if item in user_profile.purchased_movies %}
                    <div class="card">
                    <div class="poster"><img src="{{ item.poster }}" alt="Location Unknown"></div>
                    <div class="details">
                        <a href="{% url 'info_film_page' item.id %}" class="title_movie"><h1>{{ item.title }}</h1></a>
                        <h2>{{ item.release_year }} • {{ item.age_rating }} • {{ item.duration }}</h2>
                        <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="far fa-star"></i>
                        <span>{{ item.rating }}/10</span>
                        </div>
                        <div class="tags">
                        <span class="tag">{{ item.genre }}</span>
                        </div>
                        <p class="desc">
                            {{ item.description|slice:":250" }}
                        </p>
                        <div class="cast">
                        <h3>Актеры</h3>
                        <ul>
                            {% for actor in item.actors.all|slice:":5" %}
                                    <a href="{% url 'actor_page' actor.id %}"><li><img src="{{ actor.photo }}" alt="{{ actor.name }}" title="{{ actor.name }}"></li></a>
                            {% endfor %}
                        </ul>
                        </div>
                    </div>
                    </div>
                    {% endif %}
                    {% endfor %}

                    </div>
                </div>
        {% else %}
            <h2>Нет купленных фильмов</h2>
        {% endif %}


        <button class="save-button">Сохранить</button>
    </div>
</div>

{% endblock %}